<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Grade</title>
  </head>
  <body>
    <form action="/submitGrade" method="post">

      <div class="mid1">
        <label for="mid1co1">co1</label>
        <input type="text" name="mid1co1" value="">

        <label for="mid1co2">co2</label>
        <input type="text" name="mid1co1" value="">

        <label for="mid1co3">co3</label>
        <input type="text" name="mid1co1" value="">

        <label for="mid1co4">co3</label>
        <input type="text" name="mid1co4" value="">
      </div>
      <hr>

      </hr>
      <div class="mid2">
        <label for="mid2co1">co1</label>
        <input type="text" name="mid2co1" value="">

        <label for="mid2co2">co2</label>
        <input type="text" name="mid2co1" value="">

        <label for="mid2co3">co3</label>
        <input type="text" name="mid2co1" value="">

        <label for="mid2co4">co3</label>
        <input type="text" name="mid2co4" value="">
      </div>
      <hr>

      </hr>
      <div class="final">
        <label for="finalco1">co1</label>
        <input type="text" name="finalco1" value="">

        <label for="finalco2">co2</label>
        <input type="text" name="finalco2" value="">

        <label for="finalco3">co3</label>
        <input type="text" name="finalco3" value="">

        <label for="finalco4">co3</label>
        <input type="text" name="finalco4" value="">
      </div>

    </form>

  </body>
</html>
